<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.slate.min.css">
    <title>ArtsNearMe</title>
</head>
<body>
    <header class="container">
        <nav class="container-fluid">
            <ul>
                <li><strong>ArtsNearMe</strong></li>
            </ul>
            <ul>
                <li><a href="{% url 'home' %}" class="contrast">See Nearby</a></li>
                <li><a href="" class="contrast">Login</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <section class="container-fluid">
            <hgroup>
                <h2>Looking for a Local Art Exhibition?</h2>
                <p><b>ArtsNearMe</b> is to help.</p>
            </hgroup>
        </section>
    </main>
</body>
</html>